workflows/04-chatbot-search.json
{
  "name": "04-chatbot-search",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -336,
        0
      ],
      "id": "4a21b548-0607-4eb9-bddf-a686c651073d",
      "name": "When chat message received",
      "webhookId": "7c3403fc-350d-4c7d-a710-81189ad15a5e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        -32
      ],
      "id": "68b3d614-39c0-4dff-b50d-420e51159fd7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "qwen3:8b",
        "options": {
          "numCtx": 16000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        240,
        208
      ],
      "id": "fb211c24-2de4-4c9a-9324-130e6524cc8c",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "BcgGMW6X5A3uCPdl",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "d6923f28-4f0e-4d5b-9a7d-63f3f315174d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "search",
        "searchQuery": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}",
        "options": {},
        "requestOptions": {
          "timeout": 25000
        }
      },
      "type": "n8n-nodes-base.jinaAiTool",
      "typeVersion": 1,
      "position": [
        576,
        208
      ],
      "id": "722a9566-ba23-4e8b-9f94-8b7385ccade4",
      "name": "Search web in Jina AI",
      "credentials": {
        "jinaAiApi": {
          "id": "JExAjngwKM64PCr3",
          "name": "Jina AI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        208
      ],
      "id": "343b3b58-0516-4a87-9a62-e39d3e0f49cb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "E2gb0XguE0Wp1Xja",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search web in Jina AI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "edcab239-d0fc-4cd7-aef3-7056513aa9a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4cb15d09715b0d0f107b3e316e6d102266355d7a35e6916a80c3b89615a146b"
  },
  "id": "wLzmiHvjMFxrahpL",
  "tags": []
}