workflows/05-load-documents.json
{
  "name": "05-load-documents",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}\n---\n{{ $json.markdown }}",
        "options": {
          "systemMessage": "=You are a helpful assistant helping the user to work with files.\n\nEach file content is delimited by <<DOC_START type=.... source=filename>> and <<DOC_END>>, where type is the file type: 'excel', 'powerpoint' or 'word'. \nKeep in mind that:\n- For excel workbooks, each worksheet is delimited by <meta id=\"section:sheet:worksheet_name\"> tags. \n- For powerpoint presentations, each slide is delimoted by <meta id=\"chatper:slide-no\">\n- For word, <meta> tags do not mean anything special\n\n Always refer to the file content, including the information in <<DOC_...>> and <meta> tags in the context to answer user queries."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2000,
        -368
      ],
      "id": "48e97c13-268f-4306-848e-b067d1d8b6ab",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -2000,
        -144
      ],
      "id": "ddcce60b-2550-43c0-9d01-45ab10f649c2",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "GBKflCrWEAR6Hb1i",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1872,
        -144
      ],
      "id": "d703b9ec-99ff-4a27-ae24-8941f0ee1c4b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "434acbed-6874-426a-9571-0df9afb6a031",
              "leftValue": "={{ $binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2896,
        -368
      ],
      "id": "f0a60aed-ef0a-404d-8dcc-432c65e7cfc2",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "I am your excel advisor",
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -3120,
        -368
      ],
      "id": "9bfb2494-492b-45e5-943b-9abed650eebd",
      "name": "If Files Attached",
      "webhookId": "531cbd6a-3744-41c8-a010-103407064c7b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python:8000/docling-hierarchy",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2672,
        -464
      ],
      "id": "123c3b33-539a-4ea9-9c7e-43627d3af076",
      "name": "Ingest Office Docs",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f58caa3-c554-4585-8eea-d347e5a823fc",
              "name": "chatInput",
              "value": "={{ $('If Files Attached').item.json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2448,
        -464
      ],
      "id": "2b10cbe1-4698-4458-85e1-60b681974c1f",
      "name": "Set Field w/ Files"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7c81e19-2cdd-4c66-914e-f90aeba8951b",
              "name": "markdown",
              "value": "\"\"",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2448,
        -272
      ],
      "id": "9986340b-974c-43fc-9791-b88d4431a710",
      "name": "Set Fields w/o Files"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2224,
        -368
      ],
      "id": "a578c5ab-5df4-4ce9-9f2d-156bc913c955",
      "name": "Noop - Merge Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Ingest Office Docs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Fields w/o Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Files Attached": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Office Docs": {
      "main": [
        [
          {
            "node": "Set Field w/ Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Field w/ Files": {
      "main": [
        [
          {
            "node": "Noop - Merge Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields w/o Files": {
      "main": [
        [
          {
            "node": "Noop - Merge Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Noop - Merge Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2bb85f87-61dc-4528-a64a-4439227ad54a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "165434c629b2d619728312a3d4d76a1c9d5da806ea3975a14855031f79835066"
  },
  "id": "xxafgAAcwH2Z98Iu",
  "tags": []
}