workflows/wip_01-ingest-documents-RAG.json
{
  "name": "wip_01-ingest-documents-RAG",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('If Files Attached').item.json.chatInput }}",
        "options": {
          "systemMessage": "=You are a helpful assistant helping the human to work with files. \nRespond clearly and concisely.\nIf you are unsure, say so.\nAsk clarifying questions when needed.\nKeep responses easy to understand.\n\nWhen provided, each file information content is delimited by <<DOC_START type=.... source=filename>> and <<DOC_END>>, where type is the file type: 'excel', 'powerpoint' or 'word'. \nKeep in mind that:\n- For excel workbooks, each worksheet is delimited by <meta id=\"section:sheet:worksheet_name\"> tags. \n- For powerpoint presentations, each slide is delimoted by <meta id=\"chatper:slide-no\">\n- For word, <meta> tags do not mean anything special\n\nAlways refer to the file content, including the information in <<DOC_...>> and <meta> tags in the context to answer user queries."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        992,
        -496
      ],
      "id": "58bd7457-b2db-4864-93a5-64d7af0f7bd1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "434acbed-6874-426a-9571-0df9afb6a031",
              "leftValue": "={{ $binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        96
      ],
      "id": "3519cb8e-edfd-4c5a-b801-6ddb3b3426ab",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Load your file and ask your questions !",
        "options": {
          "allowFileUploads": true,
          "subtitle": "I will help you analyse documents: Word, PowerPoint, Excel, pdf",
          "title": "Simple Document Assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -496,
        -176
      ],
      "id": "79d48716-b564-44df-aa5e-79593d900adc",
      "name": "If Files Attached",
      "webhookId": "4f0296f1-a6b5-4462-8cf0-4a60e1e52e69"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f58caa3-c554-4585-8eea-d347e5a823fc",
              "name": "chatInput",
              "value": "={{ $('If Files Attached').item.json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        0
      ],
      "id": "36e16d95-738e-44e7-9cbe-94a130898e73",
      "name": "Set Field w/ Files"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7c81e19-2cdd-4c66-914e-f90aeba8951b",
              "name": "markdown",
              "value": "\"\"",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        192
      ],
      "id": "94ab82aa-3730-4603-9b65-232526422cc5",
      "name": "Set Fields w/o Files"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        368,
        80
      ],
      "id": "89e96054-6230-4585-9429-d997bbd7fafe",
      "name": "Noop - Merge Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python:8000/docling-hierarchy",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -96,
        48
      ],
      "id": "23675c0f-1359-46c1-b040-cdb91b7f7a1e",
      "name": "Document Extraction",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $json.filename }}"
              },
              {
                "name": "doc_type",
                "value": "={{ $json.doc_type }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        848,
        -64
      ],
      "id": "5bf6720f-9435-49d7-8068-841b8e7e3558",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "embeddingBatchSize": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        528,
        -256
      ],
      "id": "165c2b3c-9fe5-41bf-afef-f9dd43ad8e54",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        848,
        112
      ],
      "id": "33a164ff-abaa-4137-8026-f6d06900dc03",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "E2gb0XguE0Wp1Xja",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "the content of the information base",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1280,
        -144
      ],
      "id": "5457ffeb-e9b4-4867-bcf7-acea74dbaf90",
      "name": "Retrieve from Vector Store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "maxRetries": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1296,
        160
      ],
      "id": "90e41e49-fa82-4da0-8176-b21f35b523fc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "E2gb0XguE0Wp1Xja",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1104,
        -192
      ],
      "id": "814f5840-091a-4455-a29a-8bddbb57d4a8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "qwen3:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        976,
        -304
      ],
      "id": "c252d37c-5fb4-4859-8594-5d2466f26540",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "BcgGMW6X5A3uCPdl",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Document Extraction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Fields w/o Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Files Attached": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Field w/ Files": {
      "main": [
        [
          {
            "node": "Noop - Merge Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields w/o Files": {
      "main": [
        [
          {
            "node": "Noop - Merge Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Noop - Merge Fields": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Extraction": {
      "main": [
        [
          {
            "node": "Set Field w/ Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Retrieve from Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve from Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0c2ec203-fcc1-4120-a3b7-e993ac1470fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4cb15d09715b0d0f107b3e316e6d102266355d7a35e6916a80c3b89615a146b"
  },
  "id": "xPdt4NqZoUTrmo1k",
  "tags": []
}